body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#agenda {
  background-color: #004ba7;
  margin-right: 10px;
}

#agenda img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}

#agenda:hover {
  background-color: #50b70b;
}

#iniciarsesion {
  background-color: #004ba7;
  padding: 10px;
}

#iniciarsesion:hover {
  background-color: #50b70b;
}

.contactoicon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

#tituloindex {
  background: -webkit-linear-gradient(90deg, #50b70b, #d5e22f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: black 2px;
}

@media (max-width: 768px) {
  #agenda {
    margin-bottom: 10px;
    width: 60%;
    text-align: center;
  }

  #iniciarsesion {
    width: 60%;
    text-align: center;
  }

  #tituloindex {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  #agenda {
    width: 60%;
    text-align: center;
  }

  #iniciarsesion {
    width: 60%;
    text-align: center;
  }

  #tituloindex {
    font-size: 40px;
  }
}

.featurette-divider {
  height: 15px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(80, 183, 11, 0.859) 100%
  );
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  background-color: #004ba7;
  color: white;
  text-align: center;
  padding: 12px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
  visibility: hidden;
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease;
  visibility: visible;
}

.card.from-left.show {
  transform: translateX(0);
}

.card.from-right.show {
  transform: translateX(0);
}

.card.from-left {
  transform: translateX(-100px);
}

.card.from-right {
  transform: translateX(100px);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
